XIT/Service References/tTestLog/tTestLog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveTestLogWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sti" type="tns:ArrayOfTtestInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTtestInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TtestInfo" nillable="true" type="tns:TtestInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TtestInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Esn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TestStation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TestResult" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TestData" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TestCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TestTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PcName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveTestLogWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveTestLogWebResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryAteLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Esn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TestStation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryAteLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryAteLogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SaveTestLogWebSoapIn">
    <wsdl:part name="parameters" element="tns:SaveTestLogWeb" />
  </wsdl:message>
  <wsdl:message name="SaveTestLogWebSoapOut">
    <wsdl:part name="parameters" element="tns:SaveTestLogWebResponse" />
  </wsdl:message>
  <wsdl:message name="QueryAteLogSoapIn">
    <wsdl:part name="parameters" element="tns:QueryAteLog" />
  </wsdl:message>
  <wsdl:message name="QueryAteLogSoapOut">
    <wsdl:part name="parameters" element="tns:QueryAteLogResponse" />
  </wsdl:message>
  <wsdl:portType name="tTestLogSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveTestLogWeb">
      <wsdl:input message="tns:SaveTestLogWebSoapIn" />
      <wsdl:output message="tns:SaveTestLogWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryAteLog">
      <wsdl:input message="tns:QueryAteLogSoapIn" />
      <wsdl:output message="tns:QueryAteLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tTestLogSoap" type="tns:tTestLogSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTestLogWeb">
      <soap:operation soapAction="http://tempuri.org/SaveTestLogWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAteLog">
      <soap:operation soapAction="http://tempuri.org/QueryAteLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tTestLogSoap12" type="tns:tTestLogSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTestLogWeb">
      <soap12:operation soapAction="http://tempuri.org/SaveTestLogWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAteLog">
      <soap12:operation soapAction="http://tempuri.org/QueryAteLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tTestLog">
    <wsdl:port name="tTestLogSoap" binding="tns:tTestLogSoap">
      <soap:address location="http://172.16.173.234/ATE_LOG/tTestLog.asmx" />
    </wsdl:port>
    <wsdl:port name="tTestLogSoap12" binding="tns:tTestLogSoap12">
      <soap12:address location="http://172.16.173.234/ATE_LOG/tTestLog.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>